<div class="center">
  <h1>Phat 90's Messages!</h1>

  <img src="https://media.giphy.com/media/5JhUbtgDaLeFi/giphy.gif" alt="Bart Simpson doing Hammer Time" />

<br>
  <%= link_to "Send a Fresh Text!", new_message_path, :class => "btn btn-primary btn-pad" %>
</div>
