---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/<twilio account sid>/Messages.json
    body:
      encoding: UTF-8
      string: Body=hi&MediaUrl=https%3A%2F%2Fmedia.giphy.com%2Fmedia%2FYQdNtNfM4l5p6%2Fgiphy.gif&To=111111&From=9713402576
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUMzYTc3ZTg5ZWM4OWRhZGI3YWI1NDI2ZjVlYmQ4MDhhODoxYTNlZmQ5Nzg4ODMwMjlhYmVjZGU3MzE5ZmE2NTk3Yw==
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      Content-Type:
      - application/json
      Twilio-Request-Duration:
      - '0.063'
      Twilio-Request-Id:
      - RQded11de9858c4d7aa69f03d13c772d81
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"code": 21211, "message": "The ''To'' number 111111 is not a valid
        phone number.", "more_info": "https://www.twilio.com/docs/errors/21211", "status":
        400}'
  recorded_at: Mon, 26 Sep 2016 22:09:48 GMT
recorded_with: VCR 3.0.3
