---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/<twilio account sid>/Messages.json
    body:
      encoding: UTF-8
      string: Body=You+so+fly%21+From%3A+Sponge+Bob&MediaUrl=https%3A%2F%2Fmedia.giphy.com%2Fmedia%2FYQdNtNfM4l5p6%2Fgiphy.gif&To=3609034504&From=9713402576
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUMzYTc3ZTg5ZWM4OWRhZGI3YWI1NDI2ZjVlYmQ4MDhhODphZmEwZDUxZGYyMTE1NjIyZDExMGQzMDU2NDRlZmQ5OQ==
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
      Twilio-Request-Duration:
      - '0.239'
      Twilio-Request-Id:
      - RQacf61ec94a1641e9ae3bf5ed15863727
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"sid": "MMfa1c9a3466ec4e0d9c305ad42090ab7f", "date_created": "Tue,
        27 Sep 2016 23:41:18 +0000", "date_updated": "Tue, 27 Sep 2016 23:41:18 +0000",
        "date_sent": null, "account_sid": "<twilio account sid>", "to": "+13609034504",
        "from": "+19713402576", "messaging_service_sid": null, "body": "Sent from
        your Twilio trial account - You so fly! From: Sponge Bob", "status": "queued",
        "num_segments": "1", "num_media": "1", "direction": "outbound-api", "api_version":
        "2010-04-01", "price": null, "price_unit": "USD", "error_code": null, "error_message":
        null, "uri": "/2010-04-01/Accounts/<twilio account sid>/Messages/MMfa1c9a3466ec4e0d9c305ad42090ab7f.json",
        "subresource_uris": {"media": "/2010-04-01/Accounts/<twilio account sid>/Messages/MMfa1c9a3466ec4e0d9c305ad42090ab7f/Media.json"}}'
  recorded_at: Tue, 27 Sep 2016 23:42:37 GMT
recorded_with: VCR 3.0.3
